
.presHeader {
    font-size: 7vw;
    margin-bottom:-100px;
    padding: 0;
  }
  .snitch {
    text-align: center;
  }
  
  #goldenRule {
    height: 350px;
    margin: 0;
  }
  
  .ePlayer {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    height: 500px;
    width: 500px;
    text-align: center;
    display: flex;
    align-content: center;
  }
  
  .disclaimContain {
    width: 600px;
    height: 600px;
    background: rgb(156,0,255);
    background: radial-gradient(circle, rgba(156,0,255,1) 0%, rgba(157,131,101,0) 81%);
    // background: radial-gradient(#740ab1b0, rgba(229, 193, 142, 0));
    // border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }