.strengths {
    background: url(https://i.gifer.com/NkV.gif) no-repeat center
      center fixed;
    background-size: cover;
    opacity: .9;
    margin-bottom: 600px;
}
#strengthList li{
  display: inline;
  color: white;
margin-right: 25px;
// background-color: aliceblue;
font-size: 7vh;
}

.strengthContained {
  text-align: center;
}