
#weasleyBros {
    animation: 
      nudge 15s linear infinite alternate;
  }
  
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 20px);
    }
    
    80% {
      transform: translate(-150px, 50px);
    }
  }
  